$helvetica-neue: "Helvetica Neue";
$helvetica-neue-family: $helvetica-neue, Helvetica, Arial, sans-serif;

$adelle-sans: "adelle-sans";
$adelle-family: $adelle-sans, $helvetica-neue-family;

$prag: "pragmatica-web";
$prag-family: $prag, $helvetica-neue-family;

$conqueror: "aw-conqueror-inline";
$conqueror-family: $conqueror, $helvetica-neue-family;

$headers: h1, h2, h3, h4, h5, h6;

$headers-font-family: $adelle-family;
$body-font-family: $prag-family;

$midnight-blue: #036;
$ruby-color: hsl(341, 85%, 53%);
$js-color: hsl(48, 100%, 66%);
$html-color: hsl(30, 100%, 59%);
$css-color: hsl(215, 100%, 60%);
$objectc-color: hsl(114, 80%, 55%);
$php-color: hsl(264, 75%, 65%);
